:root {
  --color-initial: #f8f1eb;
  --color-primary: #262627;
  --color-secondary: #4f4e4d;
  --color-tertiary: #f4f5f6;
  --color-quaternary: #d1d1d1;
  --color-quinary: #e1e1e1;

  --color-card-background: #FFF;
  --color-error-label: #B91C1C;
}
