// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// https://www.sassmeister.com/gist/34c0eeebd7673c9ed09f0fe850522bb4?token=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&scope=gist,read:user

@import '_Variables';

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
@mixin generator($prefix, $properties, $sizes) {
  @each $suffix, $size in $sizes {
    // Create the rule
    .#{$prefix}-#{$suffix} {
        @each $property in $properties {
            #{$property}: $size;
        }
    }
  }
}

$sizes: (
  1: 0.25rem,
//  2: 0.5rem,
  3: 1rem,
  // 4: 2rem,
  5: 3rem,
);


// Margin classes are prefixed with 'm'
// mt -> top
// mb -> bottom
// mr -> right
// ml -> left
// my -> vertical: top & bottom
// mx -> horizontal: left & right
// Padding classes are prefixed with 'p'
@include generator(m, [margin], $sizes);
// @include generator(ml, [margin-left], $sizes);
// @include generator(mr, [margin-right], $sizes);
@include generator(mt, [margin-top], $sizes);
@include generator(mb, [margin-bottom], $sizes);
@include generator(my, [margin-top, margin-bottom], $sizes);
@include generator(mx, [margin-left, margin-right], $sizes);

@include generator(p, [padding], $sizes);
// @include generator(pl, [padding-left], $sizes);
// @include generator(pr, [padding-right], $sizes);
@include generator(pt, [padding-top], $sizes);
@include generator(pb, [padding-bottom], $sizes);
@include generator(py, [padding-top, padding-bottom], $sizes);
@include generator(px, [padding-left, padding-right], $sizes);

$breakpoint-sizes: (
  // 1: 0.25rem,
  // 2: 0.5rem,
  3: 1rem,
  // 4: 2rem,
  5: 3rem,
);
@each $infix, $break-point in $grid-breakpoints {
  @media (min-width: $break-point) {
    @include generator('mt-#{$infix}', [margin-top], $breakpoint-sizes);
    @include generator('mb-#{$infix}', [margin-bottom], $breakpoint-sizes);
    @include generator('my-#{$infix}', [margin-top, margin-bottom], $breakpoint-sizes);
  }
}